.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.container .title {
  font-size: 2.5rem;
  color: var(--text);

  margin-bottom: 1em;
}

.container_around {
  min-height: 100vh;
  background-color: var(--background);
}